<%= render 'shared/display_errors', resource: @test  %>
<%= form_with model: [:admin, @test], local: true do |form| %>
<%= form.hidden_field :author_id, :value => "1" %>

<div class="form-group">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, value: @test.title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level, value: @test.level %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: 'Choose category' %>
  </p>

  <p><%= form.submit class:"btn btn-primary" %></p>
  <% end %>
  <p><%= link_to 'Back', admin_tests_path %></p>
</div>