<h1><%= I18n.t('.header') %></h1>
<p><%= link_to t('.new_test'), new_admin_test_path %></p>
<table>
  <tr>
    <th><%= t('.name') %></th><th><%= t('.category') %></th><th><%= t('.level') %></th><th><%= t('.questions_amount') %></th><th colspan="4"><%= t('.action') %></th>
  </tr>
  <%= render @tests %>
</table>
